@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: var(--font-oswald);
}
h2 {
  font-family: var(--font-lato);
}
h3 {
  font-family: var(--font-montserrat);
}
h4 {
  font-family: var(--font-roboto);
}
p {
  font-family: var(--font-source-code-pro);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main {
  text-align: -webkit-center;
}

section {
  text-align: center;
  align-content: center;
}

.full-width-section {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

/* styles.css */
.parallax {
  /* Ensure the element takes up the entire screen */
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}

.parallax-content {
  /* Ensure the content is centered and visible */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
}
.embla-thumbs {
  --thumbs-slide-spacing: 0.8rem;
  --thumbs-slide-height: 6rem;
  margin-top: var(--thumbs-slide-spacing);
}
.embla-thumbs__viewport {
  overflow: hidden;
}
.embla-thumbs__container {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--thumbs-slide-spacing) * -1);
}
.embla-thumbs__slide {
  flex: 0 0 22%;
  min-width: 0;
  padding-left: var(--thumbs-slide-spacing);
}
@media (min-width: 576px) {
  .embla-thumbs__slide {
    flex: 0 0 15%;
  }
}
.embla-thumbs__slide__number {
  border-radius: 1.8rem;
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  font-weight: 600;
  color: var(--detail-high-contrast);
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--thumbs-slide-height);
  width: 100%;
}
.embla-thumbs__slide--selected .embla-thumbs__slide__number {
  color: var(--text-body);
}

.embla-thumb {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
}

.embla-thumb.is-selected {
  border: 2px solid #000; /* o cualquier estilo que prefieras */
}

.embla-thumb__image {
  width: 100px; /* ajusta según tu necesidad */
  height: auto; /* o ajusta según tu necesidad */
  display: block;
}
