@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg-animation {
  height: 200px; /*La altura dependerá de lo que requieras*/
  background: rgb(189, 189, 189); /*Usamos un background por defecto*/
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 0%,
    rgb(27, 27, 27) 48%,
    rgb(43, 43, 43) 100%
  );
  background-size: 300% 100%; /*Asignamos un ancho para el background del 300% y altura 100%*/
  animation: gradient 15s ease infinite; /*'gradient' es el nombre de la animación que crearemos, tarda en completarse 15s y vuelve a empezar infinitamente*/
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
